body {
    width: 100%;
    height: 100vh;
}

.header2 {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #032a4e;
}

.header2 h2 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff
}
.header2 img {
    width: 35px;
}
.info-title {
    width: 100%;
    height: 30m;
}
.info-title .img-info {
    width: 100%;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-title .img-info img {
    width: 20em;
    margin-top: 3em;
}
.modulo  {
    width: 100%;
    height: 10em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.modulo h3 {
    font-size: 1.2em;
    color: #032a4e;
    font-weight: 500;
}
.separador {
    width: 100%;
    height: 0.1em;
    background-color: #032a4e;
}
.carrousel2 {
    width: 100%;
    height: 14em;
    max-width: 120em;
    padding: 2em;
    transition: all 0.4s ease;
    border-radius: 1em;
  }
  
.carrousel2 .grande2 {
    width: 200%;
    height: 10em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 1em;
    transition: all 0.5s ease;
    transform: translateX(0%);
}
.sub-container-pregunta {
    width: 100%;
    height: 10em;
    background-color: #032a4e;
    border-radius: 1em;
    padding-top: 1em;
    margin: 2em;
}

.container-inputs {
    width: 100%;
    height: 10em;
}

.pregunta {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2em;
}
.pregunta p {
    color: #ffffff;
    font-size: 1.2em;
}
.numero {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2em;
}
.numero input {
    width: 55%;
    height: 2.3em;
    border: none;
    border-radius: 0.4em;
    padding-left: 0.6em;
    outline: none;
}
.confirmar {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirmar div {
    width: 32%;
    height: 1.8em;
    background-color: rgb(12, 12, 201);
    text-align: center;
    color: #ffffff;
    border-radius: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirmar div:active {
    background-color: rgb(112, 112, 226);
}